@tailwind utilities;

@layer utilities {

	.article-page {
		@apply grid gap-1 font-sans text-base;
		@apply leading-[1.47];
	}

	.article-page h1,
	.article-page h2,
	.article-page h3,
	.article-page h4,
	.article-page h5,
	.article-page h6 {
		font-family: 'Unbounded';
		@apply text-[#636e72];
		@apply leading-[1.2];
	}

	.article-page *+h1 {
		@apply mt-6;
	}

	.article-page *+h2 {
		@apply mt-5;
	}

	.article-page *+h3 {
		@apply mt-4;
	}

	.article-page *+h4 {
		@apply mt-3;
	}

	.article-page *+h5,
	.article-page *+h6 {
		@apply mt-2;
	}


	.article-page *+p,
	.article-page *+blockquote {
		@apply mt-2;
	}

	.article-page ol,
	.article-page ul {
		@apply my-2;
	}

	.article-page ol,
	.article-page ul {
		@apply leading-[1.5] px-4;
	}

	.article-page ol ul,
	.article-page ul ul,
	.article-page ol ul,
	.article-page ul ol {
		padding-inline: 2rem;

	}


	.article-page a {
		position: relative;
		color: #636e72;
		--h-line: 2px;
		isolation: isolate;
		z-index: 2;
	}

	.article-page a:hover {
		color: #000;
		--h-line: 100%;
	}

	.article-page a::after {
		content: "";
		z-index: -1;
		transition: 0.2s;
		position: absolute;
		inset: auto auto 0 0;
		width: var(--w-line, 100%);
		height: var(--h-line, 2px);
		background: var(--clr-line, #fd79a8);
	}



	.article-page blockquote {
		@apply bg-[#fd79a820] px-4 py-2 border-solid border-l-4 border-l-[#e84393];
	}

	.article-page h1 {
		font-size: clamp(1.95rem, 1.85rem + 3vw, 3.5rem);
	}

	.article-page h2 {
		font-size: clamp(1.50rem, 1.60rem + 1vw, 1.7rem);
	}

	.article-page h3 {
		font-size: clamp(1.45rem, 1.55rem + 1vw, 1.65rem);
	}

	.article-page h1 {
		font-size: clamp(1.4rem, 1.5rem + 1vw, 1.45rem);
	}

	.article-page h1 {
		font-size: clamp(1.35rem, 1.45rem + 1vw, 1.35rem);
	}

	.article-page h1 {
		font-size: clamp(1.65rem, 1.65rem + 1vw, 1.9rem);
	}

	.article-page ul {
		@apply list-disc;
	}


	.article-page ol {
		@apply list-decimal;
	}

	.article-page img {
		@apply max-w-full mx-auto mt-2 mb-7 outline outline-[#fd79a8] rounded-md bg-white;
		width: min(700px, 70vw);
	}







	/* Create Form */
	.link-form-start {
		position: relative;
		color: #636e72;
		--h-line: 0px;
		z-index: 1;
		isolation: isolate;

	}

	.link-form-start.active {
		color: #000;
		--h-line: 100%;
	}

	.link-form-start::after {
		content: "";
		transition: 0.2s;
		position: absolute;
		inset: auto auto 0 0;
		width: var(--w-line, 100%);
		height: var(--h-line, 2px);
		background: var(--clr-line, #fd79a8);
		z-index: -1;
	}



}