:root {
	--col-count: 6;
	font-size: 15px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

	.link-underline {
		position: relative;
		color: #636e72;
		--h-line: 0px;

	}

	.link-underline.router-link-active {
		color: #000;
		--h-line: 3px;
	}

	.link-underline::after {
		content: "";
		transition: 0.2s;
		position: absolute;
		inset: auto auto 0 0;
		width: var(--w-line, 100%);
		height: var(--h-line, 2px);
		background: var(--clr-line, #fd79a8);
	}


	.font-header {
		font-family: 'Unbounded';
	}


	.body-gradient {
		background: rgb(213, 213, 214);
		background: linear-gradient(90deg,
				rgba(213, 213, 214, 1) 0%,
				rgba(208, 207, 207, 1) 19%,
				rgba(220, 227, 228, 1) 100%);
	}

	.subgrid {
		display: grid;
		grid-template-columns:
			minmax(1rem, 1fr) repeat(var(--col-count), minmax(0, 12rem)) minmax(1rem, 1fr);
	}

	.cols>* {
		grid-column: span var(--col-width, 6);
	}

	.cols>*:first-child {
		grid-column: var(--col-start, 2) / span var(--col-width, 6);
	}

	.cols>*:last-child {
		grid-column: span var(--col-width, 6) / calc(var(--col-start, 2) * -1);
	}


}