// Styles for any card list shown on any page
*[data-card-list] {
    --_card-width: var(--card-width, 300px);
    --_gap: var(--gap, var(--p-1));
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--_card-width), 1fr));
    gap: var(--_gap);
}

[data-page] {
    & > * {
        grid-column: 2 / -2;
    }
}


// Stylings for headings of pages 

h1 {
    font-family: var(--heading-font);
    font-size: var(--size-3);
    color: var(--blue);
}